In [1]:
import os.path
import glob
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from ipywidgets import interact
import ipywidgets as widgets
from scipy.stats import hmean
from datetime import datetime as dtm

In [2]:
all_files = glob.glob("D:/ahn_pc/workfile/2021/阪神事故リスク/datamoji/*.csv")
all_data_frames = []
dc = []
#for file in all_files[0:1]:
for file in all_files:
    #dc = pd.read_csv(file, header=None, encoding="shift_jis", usecols=[6,18,34,36], names=("dt", "spd", "updown", "kp"))
    #dc = pd.read_csv(file, header=None, encoding="shift_jis", names=("dt", "tim", "num", "err", "trf", "htrf", "occ", "spd", "ver"))
    dc = pd.read_csv(file, encoding="shift_jis")
    print(file)
    dc=dc[dc.原因=="リスク"]
    #dc = data_frame.iloc[:,[6,18,34,36]]
    #dc.columns = ["dt", "spd", "updown", "kp"]
    #dc=dc[dc["updown"]==2]
    #dc=dc[dc["kp"]<83.6]
    all_data_frames.append(dc)
dc = pd.concat(all_data_frames, axis = 0, ignore_index = True)

C:\Users\tssl-34\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3051: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

D:/ahn_pc/workfile/2021/阪神事故リスク/datamoji\dm2_04.csv
D:/ahn_pc/workfile/2021/阪神事故リスク/datamoji\dm2_05.csv
D:/ahn_pc/workfile/2021/阪神事故リスク/datamoji\dm2_06.csv
D:/ahn_pc/workfile/2021/阪神事故リスク/datamoji\dm2_07.csv
D:/ahn_pc/workfile/2021/阪神事故リスク/datamoji\dm2_08.csv
D:/ahn_pc/workfile/2021/阪神事故リスク/datamoji\dm2_09.csv
D:/ahn_pc/workfile/2021/阪神事故リスク/datamoji\dm2_10.csv

In [3]:
#df = pd.read_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/dm2_04.csv", encoding="shift_jis")

In [6]:
dc
#df.iloc[:10,12:30]

,記録年,記録月,記録日,記録曜日,記録時刻,文字情報板番号,文字情報板名称,制御区分,情報区分,影響係数,...,休日,時間帯,kcode,降水量,滑り止め,区間長up,速度up,交通量up,渋滞up,事故up
0,2021,4,4,（日）,00:02,11,福島本線上,自動制御,本線事象,1.0,...,3.0,2.0,NaN,0.0,0.0,6.0,96.0,32.0,NaN,NaN
1,2021,4,4,（日）,00:03,11,福島本線上,自動制御,本線事象,1.0,...,3.0,2.0,NaN,0.0,0.0,6.0,96.0,32.0,NaN,NaN
2,2021,4,4,（日）,00:04,11,福島本線上,自動制御,本線事象,1.0,...,3.0,2.0,NaN,0.0,0.0,6.0,96.0,32.0,NaN,NaN
3,2021,4,4,（日）,00:05,11,福島本線上,自動制御,本線事象,1.0,...,3.0,2.0,NaN,0.0,0.0,6.0,86.0,29.0,NaN,NaN
4,2021,4,4,（日）,00:07,11,福島本線上,自動制御,本線事象,1.0,...,3.0,2.0,NaN,0.0,0.0,6.0,86.0,29.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8467955,2021,10,31,（日）,23:45,956,森宮本線Ｄ,自動制御,本線事象,1.0,...,3.0,2.0,NaN,0.0,0.0,5.0,105.0,28.0,NaN,NaN
8467956,2021,10,31,（日）,23:56,956,森宮本線Ｄ,自動制御,本線事象,1.0,...,3.0,2.0,NaN,0.0,0.0,5.0,86.0,24.0,NaN,NaN
8467957,2021,10,31,（日）,23:57,956,森宮本線Ｄ,自動制御,本線事象,1.0,...,3.0,2.0,NaN,0.0,0.0,5.0,86.0,24.0,NaN,NaN
8467958,2021,10,31,（日）,23:58,956,森宮本線Ｄ,自動制御,本線事象,1.0,...,3.0,2.0,NaN,0.0,0.0,5.0,86.0,24.0,NaN,NaN
8467959,2021,10,31,（日）,23:59,956,森宮本線Ｄ,自動制御,本線事象,1.0,...,3.0,2.0,NaN,0.0,0.0,5.0,86.0,24.0,NaN,NaN

In [ ]:
#df[df.idx=="2021-04-05 10:15:00_1041"].loc[:,"idx":]

In [7]:
dc.columns=['記録年', '記録月', '記録日', '記録曜日', '記録時刻', '文字情報板番号', '文字情報板名称', '制御区分',
       '情報区分', '影響係数', '障害係数', '評価値', '提供フラグ', '事象内通番', '原因', '程度', '渋滞長',
       '障害登録番号', '先頭系統名称', '先頭KP', '後尾系統名称', '後尾KP', '入口／出口名称', '特記事項', 'indx',
       'line', 'keito', 'kp', 'name', 'jdp', 'jdpup1', 'jdpup2', 'jdpup3',
       'vsidx', 'risk', 'temp', 'r2p', 'r2n', 'r3p', 'r3n', 'n1p', 'gen', 'tidx', 'tidx5m',
       'idx', 'upidx', '地区名', 'JDP番号', '区間番号', '日付', '時間', '区間長', 'エラー', '速度',
       '交通量', '渋滞', '事故', '休日', '時間帯', 'kcode', '降水量', '滑り止め', '区間長up', '速度up',
       '交通量up', '渋滞up', '事故up']

In [99]:
d=dc.loc[:,["記録月","記録日","記録時刻","提供フラグ","原因","程度","idx","tidx","tidx5m","indx","vsidx","jdp","jdpup1","keito","r2p","r2n","r3p","r3n","n1p","gen","区間長","速度","交通量","渋滞","事故","休日","時間帯","降水量","区間長up","速度up","交通量up","渋滞up","事故up"]]

In [101]:
d["vsidx2"]=d.記録月.astype(str)+"_"+d.vsidx

In [102]:
#d.loc[:,["記録月","記録日","記録時刻","vsidx"]]
d.loc[:,["記録月","記録日","記録時刻","vsidx2"]]

         記録月  記録日   記録時刻           vsidx2
0          4    4  00:02     4_4_00:02_11
1          4    4  00:03     4_4_00:03_11
2          4    4  00:04     4_4_00:04_11
3          4    4  00:05     4_4_00:05_11
4          4    4  00:07     4_4_00:07_11
...      ...  ...    ...              ...
8467955   10   31  23:45  10_31_23:45_956
8467956   10   31  23:56  10_31_23:56_956
8467957   10   31  23:57  10_31_23:57_956
8467958   10   31  23:58  10_31_23:58_956
8467959   10   31  23:59  10_31_23:59_956

[8467960 rows x 4 columns]

In [103]:
d[d.r2p==1].shape[0]

1439849

In [104]:
d[(d.提供フラグ==1)&(d.程度=="リスク２")].shape[0]

1439849

In [ ]:
#d[d.idx=="2021-04-05 10:15:00_1041"]

In [ ]:
#d["走行台キロ"]=d.区間長*d.交通量/10

In [105]:
d.tidx

0            2021-4-4 00:02:00
1            2021-4-4 00:03:00
2            2021-4-4 00:04:00
3            2021-4-4 00:05:00
4            2021-4-4 00:07:00
                  ...
8467955    2021-10-31 23:45:00
8467956    2021-10-31 23:56:00
8467957    2021-10-31 23:57:00
8467958    2021-10-31 23:58:00
8467959    2021-10-31 23:59:00
Name: tidx, Length: 8467960, dtype: object

In [106]:
d[~d.duplicated(subset="keito")].keito

0          1.0
99         4.0
103       13.0
142        3.0
688       21.0
886       17.0
984       18.0
1358      80.0
1860      23.0
3243      22.0
4278       5.0
4878       9.0
7634      19.0
8296      20.0
9232      14.0
10672      8.0
12898     24.0
13366     49.0
15724     39.0
16098     40.0
18219     33.0
19740     34.0
21130     61.0
23063      2.0
59183     73.0
59198     74.0
72896     50.0
374674    10.0
496542    75.0
497461    62.0
500062    11.0
800265    76.0
Name: keito, dtype: float64

In [107]:
acc = pd.read_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/accident2.csv", encoding="shift_jis")

In [108]:
ad = acc.loc[:,["dt","区間番号","JDP番号","系統番号","事故の形態１"]]

In [109]:
ad["dtkei"]=ad.dt+"_"+ad.系統番号.astype(str)

In [110]:
ad[~ad.duplicated(subset="事故の形態１")]

                    dt  区間番号  JDP番号  系統番号 事故の形態１                 dtkei
0    2021-4-4 01:30:00   358    940    40   施設接触  2021-4-4 01:30:00_40
2    2021-4-4 10:15:00   159    339    19   車両接触  2021-4-4 10:15:00_19
6    2021-4-4 15:40:00   255    405    21     追突  2021-4-4 15:40:00_21
9    2021-4-4 21:45:00    21     26     1    その他   2021-4-4 21:45:00_1
25   2021-4-6 03:35:00   291    578    33   施設衝突  2021-4-6 03:35:00_33
27   2021-4-6 07:40:00    73    112     4   多重追突   2021-4-6 07:40:00_4
73  2021-4-10 13:25:00     4     84     2   車両衝突  2021-4-10 13:25:00_2

In [111]:
ad["acckind"]=0

In [112]:
ad.loc[(ad["事故の形態１"]=="追突")|(ad["事故の形態１"]=="多重追突"),"acckind"]=1
ad.loc[(ad["事故の形態１"]=="車両接触")|(ad["事故の形態１"]=="車両衝突"),"acckind"]=2
ad.loc[(ad["事故の形態１"]=="施設接触")|(ad["事故の形態１"]=="施設衝突"),"acckind"]=3

In [113]:
d["dtkei"]=d.tidx+"_"+d.keito.astype(int).astype(str)

In [137]:
d2=d#要求
#d2=d[(d.r2p==1)|(d.r3p==1)]#提供

In [138]:
#dg = d[~d.duplicated(subset="dtkei")]
dg = d2[~d2.duplicated(subset="dtkei")]

In [139]:
dg.dtkei

0             2021-4-4 00:02:00_1
1             2021-4-4 00:03:00_1
2             2021-4-4 00:04:00_1
3             2021-4-4 00:05:00_1
4             2021-4-4 00:07:00_1
                    ...
8461250    2021-10-31 18:31:00_62
8461251    2021-10-31 18:32:00_62
8461252    2021-10-31 18:33:00_62
8461253    2021-10-31 18:34:00_62
8461254    2021-10-31 18:35:00_62
Name: dtkei, Length: 1787415, dtype: object

In [140]:
dg.vsidx2

0             4_4_00:02_11
1             4_4_00:03_11
2             4_4_00:04_11
3             4_4_00:05_11
4             4_4_00:07_11
                ...
8461250    10_31_18:31_692
8461251    10_31_18:32_692
8461252    10_31_18:33_692
8461253    10_31_18:34_692
8461254    10_31_18:35_692
Name: vsidx2, Length: 1787415, dtype: object

In [85]:
dg[dg.vsidx=="30_18:00_593"]
#dg[dg.dtkei=="2021-4-30 19:00:00_75"]

Empty DataFrame
Columns: [記録日, 記録時刻, 提供フラグ, 原因, 程度, idx, tidx, tidx5m, indx, vsidx, jdp, jdpup1, keito, r2p, r2n, r3p, r3n, n1p, gen, 区間長, 速度, 交通量, 渋滞, 事故, 休日, 時間帯, 降水量, 区間長up, 速度up, 交通量up, 渋滞up, 事故up, dtkei]
Index: []

[0 rows x 33 columns]

In [141]:
dgc = pd.merge(dg,ad, on="dtkei", how="left")

In [142]:
dgc[~pd.isna(dgc.dt)]

,記録月,記録日,記録時刻,提供フラグ,原因,程度,idx,tidx,tidx5m,indx,...,渋滞up,事故up,vsidx2,dtkei,dt,区間番号,JDP番号,系統番号,事故の形態１,acckind
2542,4,5,11:55,1.0,リスク,リスク２,2021-04-05 11:55:00_358,2021-4-5 11:55:00,2021-04-05 11:55:00,98,...,NaN,NaN,4_5_11:55_98,2021-4-5 11:55:00_20,2021-4-5 11:55:00,150.0,353.0,20.0,その他,0.0
2776,4,5,15:25,NaN,リスク,リスク３,2021-04-05 15:25:00_370,2021-4-5 15:25:00,2021-04-05 15:25:00,140,...,NaN,NaN,4_5_15:25_140,2021-4-5 15:25:00_21,2021-4-5 15:25:00,281.0,441.0,21.0,追突,1.0
4153,4,5,13:25,NaN,リスク,リスク３,2021-04-05 13:25:00_691,2021-4-5 13:25:00,2021-04-05 13:25:00,387,...,NaN,NaN,4_5_13:25_387,2021-4-5 13:25:00_23,2021-4-5 13:25:00,201.0,722.0,23.0,その他,0.0
10293,4,6,07:05,NaN,リスク,リスク３,2021-04-06 07:05:00_322,2021-4-6 07:05:00,2021-04-06 07:05:00,96,...,NaN,NaN,4_6_07:05_96,2021-4-6 07:05:00_19,2021-4-6 07:05:00,155.0,337.0,19.0,その他,0.0
12029,4,6,14:05,NaN,リスク,リスク３,2021-04-06 14:05:00_101,2021-4-6 14:05:00,2021-04-06 14:05:00,31,...,NaN,NaN,4_6_14:05_31,2021-4-6 14:05:00_3,2021-4-6 14:05:00,47.0,96.0,3.0,その他,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1760864,10,29,05:50,1.0,リスク,リスク３,2021-10-29 05:50:00_370,2021-10-29 05:50:00,2021-10-29 05:50:00,140,...,NaN,NaN,10_29_05:50_140,2021-10-29 05:50:00_21,2021-10-29 05:50:00,241.0,383.0,21.0,車両接触,2.0
1762984,10,29,09:35,1.0,リスク,リスク２,2021-10-29 09:35:00_460,2021-10-29 09:35:00,2021-10-29 09:35:00,547,...,NaN,NaN,10_29_09:35_547,2021-10-29 09:35:00_22,2021-10-29 09:35:00,262.0,472.0,22.0,追突,1.0
1771203,10,30,12:15,1.0,リスク,リスク３,2021-10-30 12:15:00_370,2021-10-30 12:15:00,2021-10-30 12:15:00,140,...,NaN,NaN,10_30_12:15_140,2021-10-30 12:15:00_21,2021-10-30 12:15:00,271.0,431.0,21.0,車両接触,2.0
1773321,10,30,19:10,1.0,リスク,リスク３,2021-10-30 19:10:00_101,2021-10-30 19:10:00,2021-10-30 19:10:00,31,...,NaN,NaN,10_30_19:10_31,2021-10-30 19:10:00_3,2021-10-30 19:10:00,36.0,106.0,3.0,車両接触,2.0
1787161,10,31,17:05,1.0,リスク,リスク３,2021-10-31 17:05:00_411,2021-10-31 17:05:00,2021-10-31 17:05:00,526,...,NaN,NaN,10_31_17:05_526,2021-10-31 17:05:00_21,2021-10-31 17:05:00,259.0,420.0,21.0,車両接触,2.0

In [ ]:
#dgc[~dgc.duplicated(subset="keito")].keito

In [ ]:
#dgc[~pd.isna(dgc.dt)]

In [143]:
dgc["acckei"]=0

In [144]:
dgc.loc[~pd.isna(dgc.dt),"acckei"]=1

In [145]:
dgc[dgc.acckei==1]

,記録月,記録日,記録時刻,提供フラグ,原因,程度,idx,tidx,tidx5m,indx,...,事故up,vsidx2,dtkei,dt,区間番号,JDP番号,系統番号,事故の形態１,acckind,acckei
2542,4,5,11:55,1.0,リスク,リスク２,2021-04-05 11:55:00_358,2021-4-5 11:55:00,2021-04-05 11:55:00,98,...,NaN,4_5_11:55_98,2021-4-5 11:55:00_20,2021-4-5 11:55:00,150.0,353.0,20.0,その他,0.0,1
2776,4,5,15:25,NaN,リスク,リスク３,2021-04-05 15:25:00_370,2021-4-5 15:25:00,2021-04-05 15:25:00,140,...,NaN,4_5_15:25_140,2021-4-5 15:25:00_21,2021-4-5 15:25:00,281.0,441.0,21.0,追突,1.0,1
4153,4,5,13:25,NaN,リスク,リスク３,2021-04-05 13:25:00_691,2021-4-5 13:25:00,2021-04-05 13:25:00,387,...,NaN,4_5_13:25_387,2021-4-5 13:25:00_23,2021-4-5 13:25:00,201.0,722.0,23.0,その他,0.0,1
10293,4,6,07:05,NaN,リスク,リスク３,2021-04-06 07:05:00_322,2021-4-6 07:05:00,2021-04-06 07:05:00,96,...,NaN,4_6_07:05_96,2021-4-6 07:05:00_19,2021-4-6 07:05:00,155.0,337.0,19.0,その他,0.0,1
12029,4,6,14:05,NaN,リスク,リスク３,2021-04-06 14:05:00_101,2021-4-6 14:05:00,2021-04-06 14:05:00,31,...,NaN,4_6_14:05_31,2021-4-6 14:05:00_3,2021-4-6 14:05:00,47.0,96.0,3.0,その他,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1760864,10,29,05:50,1.0,リスク,リスク３,2021-10-29 05:50:00_370,2021-10-29 05:50:00,2021-10-29 05:50:00,140,...,NaN,10_29_05:50_140,2021-10-29 05:50:00_21,2021-10-29 05:50:00,241.0,383.0,21.0,車両接触,2.0,1
1762984,10,29,09:35,1.0,リスク,リスク２,2021-10-29 09:35:00_460,2021-10-29 09:35:00,2021-10-29 09:35:00,547,...,NaN,10_29_09:35_547,2021-10-29 09:35:00_22,2021-10-29 09:35:00,262.0,472.0,22.0,追突,1.0,1
1771203,10,30,12:15,1.0,リスク,リスク３,2021-10-30 12:15:00_370,2021-10-30 12:15:00,2021-10-30 12:15:00,140,...,NaN,10_30_12:15_140,2021-10-30 12:15:00_21,2021-10-30 12:15:00,271.0,431.0,21.0,車両接触,2.0,1
1773321,10,30,19:10,1.0,リスク,リスク３,2021-10-30 19:10:00_101,2021-10-30 19:10:00,2021-10-30 19:10:00,31,...,NaN,10_30_19:10_31,2021-10-30 19:10:00_3,2021-10-30 19:10:00,36.0,106.0,3.0,車両接触,2.0,1
1787161,10,31,17:05,1.0,リスク,リスク３,2021-10-31 17:05:00_411,2021-10-31 17:05:00,2021-10-31 17:05:00,526,...,NaN,10_31_17:05_526,2021-10-31 17:05:00_21,2021-10-31 17:05:00,259.0,420.0,21.0,車両接触,2.0,1

In [ ]:
#dgc[dgc.dtkei=="2021-4-30 19:00:00_75"]
#dgc[dgc.keito==75]

In [146]:
dgc2 = dgc.loc[:,["vsidx2","acckind","acckei"]]

In [147]:
dgc2

                  vsidx2  acckind  acckei
0           4_4_00:02_11      NaN       0
1           4_4_00:03_11      NaN       0
2           4_4_00:04_11      NaN       0
3           4_4_00:05_11      NaN       0
4           4_4_00:07_11      NaN       0
...                  ...      ...     ...
1787414  10_31_18:31_692      NaN       0
1787415  10_31_18:32_692      NaN       0
1787416  10_31_18:33_692      NaN       0
1787417  10_31_18:34_692      NaN       0
1787418  10_31_18:35_692      NaN       0

[1787419 rows x 3 columns]

In [148]:
dk = pd.merge(d,dgc2, on="vsidx2", how="left")

In [149]:
dk.loc[dk.acckei!=1,"acckei"]=0

In [150]:
dk["tsui"]=0
dk["car"]=0
dk["sise"]=0
dk["sonota"]=0

In [151]:
dk[dk.acckind==1]

,記録月,記録日,記録時刻,提供フラグ,原因,程度,idx,tidx,tidx5m,indx,...,渋滞up,事故up,vsidx2,dtkei,acckind,acckei,tsui,car,sise,sonota
8924,4,5,15:25,NaN,リスク,リスク３,2021-04-05 15:25:00_370,2021-4-5 15:25:00,2021-04-05 15:25:00,140,...,NaN,NaN,4_5_15:25_140,2021-4-5 15:25:00_21,1.0,1.0,0,0,0,0
93624,4,7,16:50,NaN,リスク,リスク３,2021-04-07 16:50:00_101,2021-4-7 16:50:00,2021-04-07 16:50:00,31,...,NaN,NaN,4_7_16:50_31,2021-4-7 16:50:00_3,1.0,1.0,0,0,0,0
180552,4,9,10:55,NaN,リスク,リスク３,2021-04-09 10:55:00_322,2021-4-9 10:55:00,2021-04-09 10:55:00,96,...,NaN,NaN,4_9_10:55_96,2021-4-9 10:55:00_19,1.0,1.0,0,0,0,0
182278,4,9,14:40,NaN,リスク,リスク３,2021-04-09 14:40:00_567,2021-4-9 14:40:00,2021-04-09 14:40:00,192,...,NaN,NaN,4_9_14:40_192,2021-4-9 14:40:00_18,1.0,1.0,0,0,0,0
189427,4,9,15:30,1.0,リスク,リスク３,2021-04-09 15:30:00_411,2021-4-9 15:30:00,2021-04-09 15:30:00,526,...,NaN,NaN,4_9_15:30_526,2021-4-9 15:30:00_21,1.0,1.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8294451,10,28,16:25,1.0,リスク,リスク３,2021-10-28 16:25:00_98,2021-10-28 16:25:00,2021-10-28 16:25:00,33,...,NaN,NaN,10_28_16:25_33,2021-10-28 16:25:00_3,1.0,1.0,0,0,0,0
8300840,10,28,16:50,1.0,リスク,リスク２,2021-10-28 16:50:00_460,2021-10-28 16:50:00,2021-10-28 16:50:00,547,...,NaN,NaN,10_28_16:50_547,2021-10-28 16:50:00_22,1.0,1.0,0,0,0,0
8300875,10,28,12:25,1.0,リスク,リスク２,2021-10-28 12:25:00_451,2021-10-28 12:25:00,2021-10-28 12:25:00,553,...,2.0,NaN,10_28_12:25_553,2021-10-28 12:25:00_22,1.0,1.0,0,0,0,0
8323225,10,29,04:35,1.0,リスク,リスク２,2021-10-29 04:35:00_370,2021-10-29 04:35:00,2021-10-29 04:35:00,140,...,NaN,NaN,10_29_04:35_140,2021-10-29 04:35:00_21,1.0,1.0,0,0,0,0
8335413,10,29,09:35,1.0,リスク,リスク２,2021-10-29 09:35:00_460,2021-10-29 09:35:00,2021-10-29 09:35:00,547,...,NaN,NaN,10_29_09:35_547,2021-10-29 09:35:00_22,1.0,1.0,0,0,0,0

In [152]:
dk.loc[dk.acckind==1,"tsui"]=1
dk.loc[dk.acckind==2,"car"]=1
dk.loc[dk.acckind==3,"sise"]=1
dk.loc[dk.acckind==0,"sonota"]=1

In [153]:
df = pd.DataFrame(dk.groupby(["keito"])["acckei"].sum())

In [154]:
df["keito"]=df.index

In [155]:
df["tsui"]=dk.groupby(["keito"])["tsui"].sum()
df["car"]=dk.groupby(["keito"])["car"].sum()
df["sise"]=dk.groupby(["keito"])["sise"].sum()
df["sonota"]=dk.groupby(["keito"])["sonota"].sum()

In [133]:
#df["sonota"]=df.acckei-df.tsui-df.car-df.sise

In [156]:
df

       acckei  keito  tsui  car  sise  sonota
keito
1.0      48.0    1.0    24    7    11       6
2.0      17.0    2.0     7    3     4       3
3.0     104.0    3.0    20   69     9       6
4.0       7.0    4.0     2    2     3       0
5.0       0.0    5.0     0    0     0       0
8.0       2.0    8.0     1    0     1       0
9.0      15.0    9.0     5    3     3       4
10.0      0.0   10.0     0    0     0       0
11.0      0.0   11.0     0    0     0       0
13.0     15.0   13.0     4    3     4       4
14.0      2.0   14.0     0    1     1       0
17.0     28.0   17.0     6   11     6       5
18.0     16.0   18.0     2   10     3       1
19.0     23.0   19.0     7    5     6       5
20.0     13.0   20.0     2    6     2       3
21.0    105.0   21.0    40   35    13      17
22.0    160.0   22.0    76   46    16      22
23.0     34.0   23.0     2   10     7      15
24.0     33.0   24.0     3   13     3      14
33.0      0.0   33.0     0    0     0       0
34.0      1.0   34.0     1    0     0       0
39.0     11.0   39.0     1    3     1       6
40.0     14.0   40.0     2    4     3       5
49.0      0.0   49.0     0    0     0       0
50.0      0.0   50.0     0    0     0       0
61.0      1.0   61.0     0    1     0       0
62.0      0.0   62.0     0    0     0       0
73.0      1.0   73.0     1    0     0       0
74.0      0.0   74.0     0    0     0       0
75.0      0.0   75.0     0    0     0       0
76.0      0.0   76.0     0    0     0       0
80.0      1.0   80.0     0    0     1       0

In [157]:
df.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/acckeito_yokyu_all.csv", index = False, encoding="shift_jis")
#df.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/acckeito_teikyo_all.csv", index = False, encoding="shift_jis")

In [ ]:
d["idx5m"]=d.tidx5m+"_"+d.indx.astype(str)

In [ ]:
cnt5m = pd.DataFrame(d.groupby("idx5m").count().loc[:,"記録日"])

In [ ]:
cnt5m["cnt5m"]=cnt5m.記録日

In [ ]:
del cnt5m["記録日"]

In [ ]:
cnt5m = cnt5m.reset_index()

In [ ]:
dm = pd.merge(d,cnt5m, on="idx5m", how="left")

In [ ]:
dm["事故5m"]=dm.事故/dm.cnt5m
dm["速度5m"]=dm.速度/dm.cnt5m
dm["交通量5m"]=dm.交通量/dm.cnt5m
dm["事故u5m"]=dm.事故up/dm.cnt5m
dm["速度u5m"]=dm.速度up/dm.cnt5m
dm["交通量u5m"]=dm.交通量up/dm.cnt5m

In [ ]:
d2=dm[~pd.isna(dm.時間帯)]

In [ ]:
d2.shape[0]

In [ ]:
d2[d2.渋滞==0]

In [ ]:
d2.gen

In [ ]:
dmf=d2[(d2.渋滞!=1)&(d2.渋滞!=2)]

In [ ]:
dmc=d2[(d2.渋滞==1)|(d2.渋滞==2)]

In [ ]:
print(d2.shape[0])
print(dmc.shape[0])
print(dmf.shape[0])
dmc.shape[0]+dmf.shape[0]

In [ ]:
dt1=dmf[dmf.時間帯==1]
dt2=dmf[dmf.時間帯==2]

In [ ]:
print(dt1.shape[0])
print(dt2.shape[0])
dt1.shape[0]+dt2.shape[0]+dmc.shape[0]

In [ ]:
dt1_1=dt1.iloc[:1000000,:]
dt1_2=dt1.iloc[1000000:2000000,:]
dt1_3=dt1.iloc[2000000:3000000,:]
#dt1h1_4=dt1h1.iloc[3000000:,:]

dt2_1=dt2.iloc[:1000000,:]
dt2_2=dt2.iloc[1000000:2000000,:]
#dt1h2_3=dt1h2.iloc[2000000:,:]

In [ ]:
dmc.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/resultmoji2/dmc10.csv", index = False, encoding="shift_jis")

dt1_1.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/resultmoji2/dt1_1_10.csv", index = False, encoding="shift_jis")
dt1_2.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/resultmoji2/dt1_2_10.csv", index = False, encoding="shift_jis")
dt1_3.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/resultmoji2/dt1_3_10.csv", index = False, encoding="shift_jis")
#dt1h1_4.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/resultrisk/dt1h1_4_09.csv", index = False, encoding="shift_jis")

dt2_1.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/resultmoji2/dt2_1_10.csv", index = False, encoding="shift_jis")
dt2_2.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/resultmoji2/dt2_2_10.csv", index = False, encoding="shift_jis")
#dt1h2_3.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/resultrisk/dt1h2_3_06.csv", index = False, encoding="shift_jis")

In [ ]:
#dm.columns=['記録年', '記録月', '記録日', '記録曜日', '記録時刻', '文字情報板番号', '文字情報板名称', '制御区分',
       '情報区分', '影響係数', '障害係数', '評価値', '提供フラグ', '事象内通番', '原因', '程度', '渋滞長',
       '障害登録番号', '先頭系統名称', '先頭KP', '後尾系統名称', '後尾KP', '入口／出口名称', '特記事項', 'indx',
       'line', 'keito', 'kp', 'name', 'jdp', 'jdpup1', 'jdpup2', 'jdpup3',
       'vsidx', 'risk', 'temp', 'r2p', 'r2n', 'r3p', 'r3n', 'n1p', 'gen', 'tidx', 'tidx5m',
       'idx', 'upidx', '地区名', 'JDP番号', '区間番号', '日付', '時間', '区間長', 'エラー', '速度',
       '交通量', '渋滞', '事故', '休日', '時間帯', 'kcode', '降水量', '滑り止め', '区間長up', '速度up',
       '交通量up', '渋滞up', '事故up']

In [ ]:
#d=dm.loc[:,["記録日","記録時刻","tidx","tidx5m","indx","keito","r2p","r2n","r3p","r3n","n1p","gen","区間長","速度","交通量","渋滞","事故","休日","時間帯","降水量","区間長up","速度up","交通量up","渋滞up","事故up"]]

In [ ]:
d["idx5m"]=d.tidx5m+"_"+d.indx.astype(str)

In [ ]:
cnt5m = pd.DataFrame(d.groupby("idx5m").count().loc[:,"記録日"])

In [ ]:
cnt5m["cnt5m"]=cnt5m.記録日

In [ ]:
del cnt5m["記録日"]

In [ ]:
cnt5m = cnt5m.reset_index()

In [ ]:
dm = pd.merge(d,cnt5m, on="idx5m", how="left")

In [ ]:
dm["事故5m"]=dm.事故/dm.cnt5m
dm["速度5m"]=dm.速度/dm.cnt5m
dm["交通量5m"]=dm.交通量/dm.cnt5m
dm["事故u5m"]=dm.事故up/dm.cnt5m
dm["速度u5m"]=dm.速度up/dm.cnt5m
dm["交通量u5m"]=dm.交通量up/dm.cnt5m

In [ ]:
dm.記録時刻.str[:2]

In [ ]:
dm["keito_hour"]=dm.keito.astype(str)+"_"+dm.記録時刻.str[:2]

In [ ]:
#keitoh = dm.groupby("keito_hour").agg({"r2p":np.sum,"r2n":np.sum,"r3p":np.sum,"r3n":np.sum,
#         "事故5m":np.sum,"速度5m":np.mean,"交通量5m":np.mean,})
keitoh = dm.groupby("keito_hour").agg({"r2p":np.sum,"r2n":np.sum,"r3p":np.sum,"r3n":np.sum,
         "事故5m":np.sum})

In [ ]:
cntkh = dm.groupby("keito_hour").count().loc[:,"記録日"]

In [ ]:
keitoh["cntkh"]=cntkh

In [ ]:
keitoh["idx"]=keitoh.index

In [ ]:
keitoh.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/keihour04.csv", index = False, encoding="shift_jis")

In [ ]:
keito = dm.groupby("keito").agg({"r2p":np.sum,"r2n":np.sum,"r3p":np.sum,"r3n":np.sum,
        "事故5m":np.sum,"速度5m":np.mean,"交通量5m":np.mean,})
#keito = dm.groupby("keito").agg({"r2p":np.sum,"r2n":np.sum,"r3p":np.sum,"r3n":np.sum})

In [ ]:
cntk = dm.groupby("keito").count().loc[:,"記録日"]

In [ ]:
keito["cntk"]=cntk

In [ ]:
keito["rsum"]=keito.r2p+keito.r2n+keito.r3p+keito.r3n

In [ ]:
keito

In [ ]:
dc.shape[0]

In [ ]:
dc["indx"]=dc.文字情報板番号

In [ ]:
vs = pd.read_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/CHSVSB_情報板3.csv", encoding="shift_jis")

In [ ]:
vs

In [ ]:
dc2 = pd.merge(dc,vs, on="indx", how="left")

In [ ]:
dc3 = dc2[~pd.isna(dc2.line)]

In [ ]:
dc3

In [ ]:
#dc3["drp"]=dc3.記録日.astype(str)+"_"+dc3.記録時刻+"_"+dc3.文字情報板番号.astype(str)+"_"+dc3.事象内通番.astype(str)+"_"+dc3.原因+"_"+dc3.程度

In [ ]:
dc3["vsidx"]=dc3.記録日.astype(str)+"_"+dc3.記録時刻+"_"+dc3.文字情報板番号.astype(str)

In [ ]:
#dc3d = dc3[~dc3.duplicated(subset="drop")]
dc3d = dc3[~dc3.duplicated()]

In [ ]:
t = dc3d[dc3d.vsidx=="14_00:23_158"].iloc[:,5:]

In [ ]:
dc3d[dc3d.vsidx=="14_00:23_158"].iloc[:,5:]

In [ ]:
print(dc3.shape[0])
print(dc3d.shape[0])

In [ ]:
dc3d.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/dc3d04.csv", index = False, encoding="shift_jis")

In [ ]:
dc3r = dc3d[dc3d.原因=="リスク"]

In [ ]:
dc3r["risk"]=1

In [ ]:
dc3idx = dc3r.loc[:,["vsidx","risk"]]

In [ ]:
dc3idx

In [ ]:
dc4 = pd.merge(dc3d,dc3idx, on="vsidx", how="left")

In [ ]:
dc4.shape[0]

In [ ]:
dc3.shape[0]

In [ ]:
dc4[(dc4.risk==1)&(dc4.原因=="リスク")&(dc4.提供フラグ!=1)].shape[0]
#dc4[(dc4.risk==1)&(dc4.原因!="リスク")&(dc4.提供フラグ==1)].shape[0]

In [ ]:
#dc4[(dc4.risk==1)&(dc4.原因=="リスク")&(dc4.提供フラグ!=1)].shape[0]
dc4[(dc4.risk==1)&(dc4.原因!="リスク")&(dc4.提供フラグ==1)].shape[0]

In [ ]:
dc4r = dc4[dc4.risk==1]

In [ ]:
dc4r.shape[0]

In [ ]:
dc4r.iloc[:5].loc[:,["記録日","記録時刻","原因","vsidx","risk"]]

In [ ]:
dc4r.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/dc4r04.csv", index = False, encoding="shift_jis")

In [ ]:
dc4r[~dc4r.duplicated(subset="vsidx")].shape[0]

In [ ]:
def ts(d):
    return d.原因.values
def ts2(d):
    return d.程度.values
def ts3(d):
    return d.提供フラグ.values

In [ ]:
temp=dc4r.groupby("vsidx").apply(ts)
temp2=dc4r.groupby("vsidx").apply(ts2)
temp3=dc4r.groupby("vsidx").apply(ts3)

In [ ]:
dc5 = pd.DataFrame(temp)

In [ ]:
dc5["vsidx"]=dc5.index

In [ ]:
dc5["gen"]=dc5[0]

In [ ]:
dc5["tei"]=temp2

In [ ]:
dc5["flg"]=temp3

In [ ]:
del dc5[0]

In [ ]:
dc5.shape[0]

In [ ]:
vsidx=dc5.vsidx.values
gen=dc5.gen.values
tei=dc5.tei.values
flg=dc5.flg.values

In [ ]:
cnt=[]
cntstr=[]
for i in range(gen.shape[0]):
#for i in range(3):
    ri2p=0
    ri2n=0
    ri3p=0
    ri3n=0
    nori=0
    nostr=[]
    for j in range(gen[i].shape[0]):
        if gen[i][j]=="リスク":
            if tei[i][j]=="リスク２":
                if flg[i][j]==1:
                    ri2p=ri2p+1
                else:
                    ri2n=ri2n+1
            else:
                if flg[i][j]==1:
                    ri3p=ri3p+1
                else:
                    ri3n=ri3n+1
        else:
            if flg[i][j]==1:
                nori=nori+1
                nostr.append(gen[i][j])
    cnt.append([vsidx[i],ri2p,ri2n,ri3p,ri3n,nori])
    cntstr.append(nostr)

In [ ]:
cntd = pd.DataFrame(cnt)

In [ ]:
cntd["gen"]=cntstr

In [ ]:
tt = dc4r[dc4r.vsidx=="14_00:23_158"].iloc[:,5:]

In [ ]:
tt.shape[0]

In [ ]:
tt[~tt.duplicated()].shape[0]

In [ ]:
cntd[cntd[5]>1]

In [ ]:
cntd["vsidx"]=cntd[0]

In [ ]:
cntd.shape[0]

In [ ]:
df = pd.merge(dc4r,cntd, on="vsidx", how="left")

In [ ]:
df.shape[0]

In [ ]:
df2=df[~df.duplicated(subset="vsidx")]

In [ ]:
df2.shape[0]

In [ ]:
df2

In [ ]:
df2.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/df2_04.csv", index = False, encoding="shift_jis")

In [ ]:
df2 = pd.read_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/df2_04.csv", encoding="shift_jis")

In [ ]:
df2["tidx"]=df2.記録年.astype(str)+"-"+df2.記録月.astype(str)+"-"+df2.記録日.astype(str)+" "+df2.記録時刻+":00"

In [ ]:
df2["tidx5m"]=pd.to_datetime(df2.tidx).dt.round("5T")

In [ ]:
df2[pd.isna(df2.jdp)]

In [ ]:
df2["idx"]=df2.tidx5m.astype(str)+"_"+df2.jdp.astype(int).astype(str)

In [ ]:
df2["upidx"]=df2.tidx5m.astype(str)+"_"+df2.jdpup1.astype(int).astype(str)

In [ ]:
dff = pd.read_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/result/dff4.csv", encoding="shift_jis")

In [ ]:
dff2=dff[pd.isna(dff.エラー)]

In [ ]:
dff3=dff2[dff2.速度<200]

In [ ]:
dffup=dff3.loc[:,["idx","区間長","速度","交通量","渋滞","事故"]]

In [ ]:
dffup.columns=["upidx","区間長up","速度up","交通量up","渋滞up","事故up"]

In [ ]:
dffup

In [ ]:
dm = pd.merge(df2,dff3, on="idx", how="left")

In [ ]:
dm.iloc[:5,35:]

In [ ]:
dm2 = pd.merge(dm,dffup, on="upidx", how="left")

In [ ]:
dm2

In [ ]:
dm2.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/dm2_04.csv", index = False, encoding="shift_jis")

In [ ]:
df[df.vsidx=="4_00:03_11"].loc[:,"原因"]

In [ ]:
df2 = df[~df.duplicated(subset="vsidx")]

In [ ]:
df2.iloc[1,:]

In [ ]:
dc4r

In [ ]:
temp2 = dc4r[["vsidx","indx"]].groupby("vsidx").count()

In [ ]:
temp2[temp2.indx>5]

In [ ]:
temp = dc4r[(dc4r.vsidx=="10_12:52_368")|(dc4r.vsidx=="9_23:37_545")]

In [ ]:
def ts(d):
    return d.原因.values
def ts2(d):
    return d.提供フラグ.values

In [ ]:
temp2 = temp.groupby("vsidx").apply(ts)
temp3 = temp.groupby("vsidx").apply(ts2)

In [ ]:
print(temp2)
print(temp3)

In [ ]:
tempr = dc4[(dc4.risk==1)&(dc4.原因=="リスク")]

In [ ]:
tempnr = dc4[(dc4.risk==1)&(dc4.原因!="リスク")]

In [ ]:
temp.shape[0]==tempr.shape[0]+tempnr.shape[0]

In [ ]:
print(tempr.shape[0])
print(tempnr.shape[0])
print(tempr[tempr.提供フラグ==1].shape[0])
print(tempr[tempr.提供フラグ!=1].shape[0])
print(tempnr[tempnr.提供フラグ==1].shape[0])
print(tempnr[tempnr.提供フラグ!=1].shape[0])

In [ ]:
dc3a = dc3.loc[:,["記録日","記録時刻","文字情報板番号","提供フラグ","原因","程度","特記事項"]]

In [ ]:
dc3b = dc3a[((dc3a.原因=="リスク")&(dc3a.提供フラグ!=1))|(dc3a.提供フラグ==1)]

In [ ]:
dc3b

In [ ]:
dc3b[dc3b.提供フラグ!=1]

In [ ]:
dc3amoji2 = dc3a[dc3a.文字情報板番号==17]

In [ ]:
dc2=dc[dc.原因=="リスク"]

In [ ]:
dc2

In [ ]:
dc2.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/moji4.csv", index = False, encoding="shift_jis")

In [ ]:
dc3=dc2[dc2.提供フラグ==1]

In [ ]:
dc3

In [ ]:
dc3.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/moji4hyoji.csv", index = False, encoding="shift_jis")

In [ ]:
dc["dtt"]=dc["dt"]+" "+dc["tim"]

In [ ]:
dc["dtt2"] = pd.to_datetime(dc.dtt)

In [ ]:
dtt = pd.DataFrame(dc[dc["num"]==1].dtt2)

In [ ]:
#dtt.dtt=dtt.dtt.astype(str)

In [ ]:
dtt

In [ ]:
occerr = dc[dc.occ>200].drop_duplicates(subset="num")

In [ ]:
occerr

In [ ]:
occerr.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/occerr4.csv", index = False)

In [ ]:
kens = pd.read_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/kenchiki_s2.csv", header=None, encoding="shift_jis")

In [ ]:
kens.columns=["num"]

In [ ]:
kens

In [ ]:
sec = pd.read_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/section_add.csv", encoding="shift_jis")
#jdp = pd.read_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/JDP2.csv", encoding="shift_jis")

In [ ]:
#jdpd = jdp.loc[:,["JDP番号","JDP担当範囲","渋滞検知器番号1","渋滞検知器番号2","渋滞検知器番号3","渋滞検知器番号4","区間番号"]]

In [ ]:
noken = sec[pd.isna(sec.検知器番号1)].区間番号

In [ ]:
noken.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/noken.csv", index = False)

In [ ]:
dc

In [ ]:
sec

In [ ]:
sec_n = sec.区間番号
sec_1 = sec.検知器番号1
sec_2 = sec.検知器番号2
sec_3 = sec.検知器番号3
sec_4 = sec.検知器番号4

df = []
dtt["sec"] = 0

for idx in range(sec.shape[0]):
#for idx in range(5):
    secn = sec_n.values[idx]
    dtt["sec"] = secn
    
    tempc=[]
    temp1 = dc[dc["num"]==sec_1.values[idx]]
    tempc = pd.merge(dtt,temp1, on="dtt2")
    
    print(temp1)
    print(tempc)
    
    if pd.notna(sec_2.values[idx]):
        temp2 = dc[dc["num"]==sec_2.values[idx]]
        tempc = pd.merge(tempc,temp2, on="dtt2")
    
    if pd.notna(sec_3.values[idx]):
        temp3 = dc[dc["num"]==sec_3.values[idx]]
        tempc = pd.merge(tempc,temp3, on="dtt2")
    
    if pd.notna(sec_4.values[idx]):
        temp4 = dc[dc["num"]==sec_4.values[idx]]
        tempc = pd.merge(tempc,temp4, on="dtt2")
    
    tempv = tempc.values
    tempd = pd.DataFrame(tempv)
    print(tempd)
    df.append(tempd)

In [ ]:
#dc[dc["num"]==sec_1.values[0]]
#dc[dc["num"]==2508]

In [ ]:
dfc = pd.concat(df, axis = 0, ignore_index=True)

In [ ]:
dfc[dfc[1]==333]

In [ ]:
dfc.iloc[0,:]

In [ ]:
trf = dfc[6].values.tolist()
trf1 = dfc[6].values.tolist()
trf2 = dfc[16].values.tolist()
trf3 = dfc[26].values.tolist()
trf4 = dfc[36].values.tolist()

In [ ]:
len(trf1)

In [ ]:
for i in range(len(trf1)):
#for i in range(11):
    if not pd.isna(trf2[i]):
        #print(trf2[i])
        if not pd.isna(trf3[i]):
            #rint(trf3[i])
            if not pd.isna(trf4[i]):
                trf[i]=trf1[i]+trf2[i]+trf3[i]+trf4[i]
            else:
                trf[i]=trf1[i]+trf2[i]+trf3[i]
        else:
            trf[i]=trf1[i]+trf2[i]
    else:
        trf[i]=trf1[i]

In [ ]:
dfc.insert(1,"trf",trf)

In [ ]:
dfc[dfc[1]==333]

In [ ]:
dfc

In [ ]:
temp=dfc[dfc[8]>65500][1]

In [ ]:
temp

In [ ]:
temp[temp!=518]

In [ ]:
dfcidx = dfc.iloc[:,:3]

In [ ]:
dfcidx[dfcidx[1]==333]

In [ ]:
dfcidx.insert(0,"idx",dfcidx[0].astype(str)+"_"+dfcidx[1].astype(str))

In [ ]:
dfcidx

In [ ]:
#ttt3 = dfcidx[dfcidx[0]=="2021-04-30 11:10:00"]

In [ ]:
#ttt3[ttt3[1]==27]

In [ ]:
dfcidx[dfcidx[1]==333]

In [ ]:
dfcidx[pd.isna(dfcidx.trf)]

In [ ]:
jdp = pd.read_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/JDP3.csv", encoding="shift_jis")

In [ ]:
jdp

In [ ]:
jdpd = jdp.loc[:,["JDP番号","地区名","JDP担当範囲","渋滞検知器番号1","渋滞検知器番号2","渋滞検知器番号3","渋滞検知器番号4","区間番号修正"]]

In [ ]:
dtt2 = pd.DataFrame(dc[dc["num"]==1].dtt2)

In [ ]:
jdpd_j = jdpd.JDP番号
jdpd_l = jdpd.地区名
jdpd_s = jdpd.区間番号修正
jdpd_km = jdpd.JDP担当範囲
jdpd_1 = jdpd.渋滞検知器番号1
jdpd_2 = jdpd.渋滞検知器番号2
jdpd_3 = jdpd.渋滞検知器番号3
jdpd_4 = jdpd.渋滞検知器番号4

df2 = []
dtt2["loca"] = 0
dtt2["jdp"] = 0
dtt2["secn"] = 0

for idx in range(jdpd.shape[0]):
#for idx in range(5):
    jdn = jdpd_j.values[idx]
    loca = jdpd_l.values[idx]
    secn = jdpd_s.values[idx]
    kmn = jdpd_km.values[idx]
    #jdn = jdp.JDP番号[idx]
    #secn = jdp.区間番号[idx]
    
    dtt2["jdp"] = jdn
    dtt2["loca"] = loca
    dtt2["secn"] = secn
    dtt2["kmn"] = kmn
    
    tempc=[]
    temp1 = dc[dc["num"]==jdpd_1.values[idx]]
    tempc = pd.merge(dtt2,temp1, on="dtt2")
    
    if pd.notna(jdpd_2.values[idx]):
        temp2 = dc[dc["num"]==jdpd_2.values[idx]]
        tempc = pd.merge(tempc,temp2, on="dtt2")
    
    if pd.notna(jdpd_3.values[idx]):
        temp3 = dc[dc["num"]==jdpd_3.values[idx]]
        tempc = pd.merge(tempc,temp3, on="dtt2")
    
    if pd.notna(jdpd_4.values[idx]):
        temp4 = dc[dc["num"]==jdpd_4.values[idx]]
        tempc = pd.merge(tempc,temp4, on="dtt2")
    
    tempv = tempc.values
    tempd = pd.DataFrame(tempv)
    df2.append(tempd)

In [ ]:
dfc2 = pd.concat(df2, axis = 0, ignore_index=True)

In [ ]:
dfc2[dfc2[2]==333]

In [ ]:
dfc2

In [ ]:
dfc2.insert(0,"idx",dfc2[0].astype(str)+"_"+dfc2[2].astype(str))

In [ ]:
dfc2

In [ ]:
dfinal = pd.merge(dfc2,dfcidx, on="idx", how="left")

In [ ]:
dfinal

In [ ]:
#ttt = dfinal[dfinal["0_x"]=="2021-04-30 11:10:00"]
#ttt2 = dfc2[dfc2[0]=="2021-04-30 11:10:00"]

In [ ]:
#ttt[ttt["1_x"]==35]
#ttt2[ttt2[1]==35]

In [ ]:
test=dfinal[pd.isna(dfinal["1_y"])].drop_duplicates(subset="1_x")

In [ ]:
test

In [ ]:
cong = pd.read_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/cong04.csv", encoding="shift_jis")

In [ ]:
cong

In [ ]:
congd = cong.loc[:,["idx","cong"]]

In [ ]:
congd

In [ ]:
dfinal2 = pd.merge(dfinal,congd, on="idx", how="left")

In [ ]:
dfinal2

In [ ]:
dfinal2.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/dfinal4.csv", index = False)

In [ ]:
dfinal2 = pd.read_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/dfinal4.csv", encoding="shift_jis")

In [ ]:
acc = pd.read_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/accident.csv", encoding="shift_jis")

In [ ]:
accd = acc.loc[:,["idx","天候","事故の形態","交通状態","発生日_曜日","曜日種別E（営業）"]]

In [ ]:
accd["acci"]=1

In [ ]:
accd

In [ ]:
dfinal3 = pd.merge(dfinal2,accd, on="idx", how="left")

In [ ]:
dfinal3

In [ ]:
dfinal3.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/dfinal4_2.csv", index = False)

In [ ]:
#dfinal3 = pd.read_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/dfinal4_2.csv", encoding="shift_jis")
dfinal3 = pd.read_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/dfinal4_2.csv")

In [ ]:
dfinal3["tm"]=pd.to_datetime(dfinal3["0_x"])

In [ ]:
dfinal3["week"]=dfinal3.tm.dt.weekday

In [ ]:
dfinal3["wcode"]=1

In [ ]:
#dc2.loc[(dfinal3.week>4)|(dc2.JDP状態=="A")|(dc2.JDP状態=="D"),"cong"]=2
dfinal3.loc[(dfinal3.week==5),"wcode"]=2
dfinal3.loc[(dfinal3.week==6),"wcode"]=3

In [ ]:
dfinal3["hour"]=dfinal3.tm.dt.hour

In [ ]:
dfinal3["hcode"]=2

In [ ]:
dfinal3.loc[(dfinal3.hour>6)&(dfinal3.hour<20),"hcode"]=1

In [ ]:
dfinal3["dy"]=pd.to_datetime(dfinal3[5])

In [ ]:
dfinal3.dy

In [ ]:
kyu = pd.read_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/kyujitsu_2021.csv", header=None)

In [ ]:
kyu["dy"]=pd.to_datetime(kyu[0])

In [ ]:
kyu["kcode"]=1

In [ ]:
kyu.dy

In [ ]:
dfinal4 = pd.merge(dfinal3,kyu, on="dy", how="left")

In [ ]:
dfinal4

In [ ]:
dfinal4[~pd.isna(dfinal4.kcode)].kcode

In [ ]:
dfinal4.loc[(dfinal4.kcode==1),"wcode"]=3

In [ ]:
dfinal4.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/dfinal4_3.csv", index = False)

In [ ]:
dfinal4 = pd.read_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/dfinal4_3.csv")

In [ ]:
dfinal4

In [ ]:
dfinal4.columns

In [ ]:
dff = dfinal4.loc[:,["idx","1_x","2","4","5","3","7","11","trf","cong","acci","wcode","hcode","kcode"]]

In [ ]:
dff

In [ ]:
dff.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/dff4.csv", index = False)