In [1]:
import os.path
import glob
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from ipywidgets import interact
import ipywidgets as widgets
from scipy.stats import hmean
from datetime import datetime as dtm

In [2]:
df = pd.read_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/result/final/df3_04.csv", encoding="shift_jis")

C:\Users\tssl-34\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3051: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [26]:
#df2[~df2.duplicated(subset="jidx")].shape[0]
#df2[df2.duplicated(subset="jidx")]

In [3]:
df["jdp"]=df.JDP番号

In [4]:
jdp = pd.read_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/jdp100/jdp100e2.csv", encoding="shift_jis")
jdp = jdp.loc[:,["jdp","keito","hei","sag","fare"]]

In [5]:
dm = pd.merge(df,jdp, on="jdp", how="left")

In [9]:
#test=dm[pd.isna(dm.keito)]
#test[~test.duplicated(subset="jdp")].jdp

In [6]:
dm = dm[pd.isna(dm.エラー)]
dm = dm[dm.速度<200]
dm = dm[~pd.isna(dm.keito)]

In [30]:
#dm[dm.jocc1>99]

In [7]:
acc = pd.read_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/accident2.csv", encoding="shift_jis")

In [8]:
acc.iloc[:1,10:30]

,発生日,発生年度,発生日_年,発生日_月,発生日_日,発生時間_時,発生時間_分,5分,date,time,dt,idx,発生日_曜日,曜日種別E（営業）,路線名(上下),路線詳細,ランプ名,料金所地点,地点(kp),天候
0,2021/4/4,2021,2021,4,4,1,30,30,2021/4/4,1:30:00,2021-4-4 01:30:00,2021-04-04 01:30:00_940,日,休日,５号湾岸線（兵庫）下,NaN,住吉浜連絡路,料金所手前,21.8,晴

In [9]:
acc2=acc.loc[:,["idx","事故の形態１"]]

In [10]:
acc2["acc"]=1

In [11]:
dm["idx"]=dm.jidx

In [12]:
dat=pd.merge(dm,acc2, on="idx", how="left")

In [13]:
dat[dat.acc==1]

,idx_x,地区名,JDP番号,区間番号,日付,時間,区間長,エラー,速度,交通量,...,jocc4,jspd4,jdp,keito,hei,sag,fare,idx,事故の形態１,acc
13988,2021-04-26 14:10:00_1,大阪,2,1,2021/04/26,14:10:00,5,NaN,21,36.0,...,NaN,NaN,2,1.0,1.0,0.0,0.0,2021-04-26 14:10:00_2,その他,1.0
61370,2021-04-05 17:25:00_9,大阪,9,9,2021/04/05,17:25:00,5,NaN,73,99.0,...,NaN,NaN,9,1.0,2.0,0.0,0.0,2021-04-05 17:25:00_9,追突,1.0
62512,2021-04-09 17:00:00_9,大阪,9,9,2021/04/09,17:00:00,5,NaN,34,176.0,...,NaN,NaN,9,1.0,2.0,0.0,0.0,2021-04-09 17:00:00_9,追突,1.0
65541,2021-04-20 13:20:00_9,大阪,9,9,2021/04/20,13:20:00,5,NaN,73,189.0,...,NaN,NaN,9,1.0,2.0,0.0,0.0,2021-04-20 13:20:00_9,施設接触,1.0
66734,2021-04-24 17:20:00_9,大阪,9,9,2021/04/24,17:20:00,5,NaN,54,247.0,...,NaN,NaN,9,1.0,2.0,0.0,0.0,2021-04-24 17:20:00_9,追突,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7771454,2021-04-17 09:30:00_430,兵庫,1150,430,2021/04/17,9:30:00,5,NaN,0,27.0,...,NaN,NaN,1150,62.0,2.0,0.0,0.0,2021-04-17 09:30:00_1150,施設接触,1.0
7774796,2021-04-29 08:20:00_430,兵庫,1150,430,2021/04/29,8:20:00,5,NaN,52,19.0,...,NaN,NaN,1150,62.0,2.0,0.0,0.0,2021-04-29 08:20:00_1150,施設接触,1.0
7783078,2021-04-04 17:20:00_278,兵庫,1152,278,2021/04/04,17:20:00,5,NaN,58,42.0,...,NaN,NaN,1152,62.0,3.0,0.0,0.0,2021-04-04 17:20:00_1152,施設接触,1.0
7785943,2021-04-14 18:45:00_278,兵庫,1152,278,2021/04/14,18:45:00,5,NaN,113,50.0,...,NaN,NaN,1152,62.0,3.0,0.0,0.0,2021-04-14 18:45:00_1152,車両接触,1.0
7814847,2021-04-09 09:45:00_278,兵庫,1156,278,2021/04/09,9:45:00,5,NaN,60,62.0,...,NaN,NaN,1156,62.0,3.0,0.0,0.0,2021-04-09 09:45:00_1156,その他,1.0

In [14]:
dat.idx

0             2021-04-04 00:00:00_1
1             2021-04-04 00:05:00_1
2             2021-04-04 00:10:00_1
3             2021-04-04 00:15:00_1
4             2021-04-04 00:20:00_1
                     ...
7904568    2021-04-30 23:30:00_1167
7904569    2021-04-30 23:35:00_1167
7904570    2021-04-30 23:40:00_1167
7904571    2021-04-30 23:45:00_1167
7904572    2021-04-30 23:50:00_1167
Name: idx, Length: 7904573, dtype: object

In [15]:
dat.columns

Index(['idx_x', '地区名', 'JDP番号', '区間番号', '日付', '時間', '区間長', 'エラー', '速度', '交通量',
       '渋滞', '事故', '休日', '時間帯', 'kcode', '降水量', '滑り止め', 'jdp_x', 'suberij',
       'jidx', 'idx_y', 'jdp_y', 'jtrf1', 'jocc1', 'jspd1', 'jtrf2', 'jocc2',
       'jspd2', 'jtrf3', 'jocc3', 'jspd3', 'jtrf4', 'jocc4', 'jspd4', 'jdp',
       'keito', 'hei', 'sag', 'fare', 'idx', '事故の形態１', 'acc'],
      dtype='object')

In [22]:
dat[pd.isna(dat.交通量)]

,idx_x,地区名,JDP番号,区間番号,日付,時間,区間長,エラー,速度,交通量,...,jspd4,jdp,keito,hei,sag,fare,idx,事故の形態１,acc,souko
220009,2021-04-30 11:10:00_27,大阪,29,27,2021/04/30,11:10:00,6,NaN,106,NaN,...,NaN,29,1.0,1.0,1.0,0.0,2021-04-30 11:10:00_29,NaN,NaN,NaN
227618,2021-04-30 11:10:00_27,大阪,30,27,2021/04/30,11:10:00,5,NaN,120,NaN,...,NaN,30,1.0,3.0,0.0,0.0,2021-04-30 11:10:00_30,NaN,NaN,NaN
235227,2021-04-30 11:10:00_27,大阪,31,27,2021/04/30,11:10:00,5,NaN,111,NaN,...,NaN,31,1.0,2.0,0.0,0.0,2021-04-30 11:10:00_31,NaN,NaN,NaN
242836,2021-04-30 11:10:00_27,大阪,32,27,2021/04/30,11:10:00,3,NaN,99,NaN,...,NaN,32,1.0,2.0,0.0,0.0,2021-04-30 11:10:00_32,NaN,NaN,NaN
250445,2021-04-30 11:10:00_27,大阪,33,27,2021/04/30,11:10:00,4,NaN,120,NaN,...,NaN,33,1.0,2.0,1.0,0.0,2021-04-30 11:10:00_33,NaN,NaN,NaN
258054,2021-04-30 11:10:00_27,大阪,34,27,2021/04/30,11:10:00,5,NaN,99,NaN,...,NaN,34,1.0,3.0,1.0,0.0,2021-04-30 11:10:00_34,NaN,NaN,NaN
415397,2021-04-22 23:05:00_24,大阪,59,24,2021/04/22,23:05:00,3,NaN,99,NaN,...,NaN,59,2.0,3.0,0.0,0.0,2021-04-22 23:05:00_59,NaN,NaN,NaN
2407329,2021-04-22 23:05:00_155,大阪,335,155,2021/04/22,23:05:00,3,NaN,99,NaN,...,NaN,335,19.0,3.0,0.0,0.0,2021-04-22 23:05:00_335,NaN,NaN,NaN
2409435,2021-04-30 11:10:00_155,大阪,335,155,2021/04/30,11:10:00,3,NaN,94,NaN,...,NaN,335,19.0,3.0,0.0,0.0,2021-04-30 11:10:00_335,NaN,NaN,NaN
2409523,2021-04-30 18:30:00_155,大阪,335,155,2021/04/30,18:30:00,3,NaN,115,NaN,...,NaN,335,19.0,3.0,0.0,0.0,2021-04-30 18:30:00_335,NaN,NaN,NaN
2475759,2021-04-22 23:05:00_156,大阪,346,156,2021/04/22,23:05:00,4,NaN,100,NaN,...,NaN,346,20.0,3.0,0.0,0.0,2021-04-22 23:05:00_346,NaN,NaN,NaN
2477865,2021-04-30 11:10:00_156,大阪,346,156,2021/04/30,11:10:00,4,NaN,100,NaN,...,NaN,346,20.0,3.0,0.0,0.0,2021-04-30 11:10:00_346,NaN,NaN,NaN
2477953,2021-04-30 18:30:00_156,大阪,346,156,2021/04/30,18:30:00,4,NaN,111,NaN,...,NaN,346,20.0,3.0,0.0,0.0,2021-04-30 18:30:00_346,NaN,NaN,NaN
5134390,2021-04-22 23:05:00_189,湾岸,708,189,2021/04/22,23:05:00,5,NaN,84,NaN,...,NaN,708,23.0,3.0,0.0,0.0,2021-04-22 23:05:00_708,NaN,NaN,NaN
6016910,2021-04-22 23:05:00_190,湾岸,829,190,2021/04/22,23:05:00,5,NaN,120,NaN,...,NaN,829,24.0,3.0,0.0,0.0,2021-04-22 23:05:00_829,NaN,NaN,NaN
6366922,2021-04-22 23:05:00_333,湾岸,877,333,2021/04/22,23:05:00,5,NaN,79,NaN,...,63.0,877,39.0,3.0,0.0,0.0,2021-04-22 23:05:00_877,NaN,NaN,NaN
6374532,2021-04-22 23:05:00_333,湾岸,878,333,2021/04/22,23:05:00,6,NaN,93,NaN,...,NaN,878,39.0,3.0,1.0,0.0,2021-04-22 23:05:00_878,NaN,NaN,NaN
6382142,2021-04-22 23:05:00_333,湾岸,879,333,2021/04/22,23:05:00,3,NaN,82,NaN,...,NaN,879,39.0,3.0,0.0,0.0,2021-04-22 23:05:00_879,NaN,NaN,NaN
6389752,2021-04-22 23:05:00_333,湾岸,880,333,2021/04/22,23:05:00,5,NaN,82,NaN,...,NaN,880,39.0,3.0,0.0,0.0,2021-04-22 23:05:00_880,NaN,NaN,NaN

In [23]:
dat=dat[~pd.isna(dat.交通量)]

In [26]:
dat["souko"]=dat.区間長*dat.交通量/10

In [27]:
dat[pd.isna(dat.souko)]

Empty DataFrame
Columns: [idx_x, 地区名, JDP番号, 区間番号, 日付, 時間, 区間長, エラー, 速度, 交通量, 渋滞, 事故, 休日, 時間帯, kcode, 降水量, 滑り止め, jdp_x, suberij, jidx, idx_y, jdp_y, jtrf1, jocc1, jspd1, jtrf2, jocc2, jspd2, jtrf3, jocc3, jspd3, jtrf4, jocc4, jspd4, jdp, keito, hei, sag, fare, idx, 事故の形態１, acc, souko]
Index: []

[0 rows x 43 columns]

In [28]:
tt=dat.loc[:,["idx","souko","keito","acc","事故の形態1"]]

In [31]:
tt.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/dsouko04.csv", index = False, encoding="shift_jis")

In [14]:
df["idx"]=df.idx.str[:19]+"_"+df.JDP番号.astype(str)

In [16]:
df[df.idx=="2021-04-05 10:15:00_1041"]

,idx,地区名,JDP番号,区間番号,日付,時間,区間長,エラー,速度,交通量,渋滞,事故,休日,時間帯,kcode,降水量,滑り止め
7412101,2021-04-05 10:15:00_1041,兵庫,1041,374,2021/04/05,10:15:00,7,H,0,58.0,NaN,NaN,1,1,NaN,0.0,0

In [12]:
df

,idx,地区名,JDP番号,区間番号,日付,時間,区間長,エラー,速度,交通量,渋滞,事故,休日,時間帯,kcode,降水量,滑り止め
0,2021-04-04 00:00:00_1,大阪,1,1,2021/04/04,0:00:00,4,NaN,60,26.0,NaN,NaN,3,2,NaN,0.0,0
1,2021-04-04 00:05:00_1,大阪,1,1,2021/04/04,0:05:00,4,NaN,72,41.0,NaN,NaN,3,2,NaN,0.0,0
2,2021-04-04 00:10:00_1,大阪,1,1,2021/04/04,0:10:00,4,NaN,64,40.0,NaN,NaN,3,2,NaN,0.0,0
3,2021-04-04 00:15:00_1,大阪,1,1,2021/04/04,0:15:00,4,NaN,62,21.0,NaN,NaN,3,2,NaN,0.0,0
4,2021-04-04 00:20:00_1,大阪,1,1,2021/04/04,0:20:00,4,NaN,64,28.0,NaN,NaN,3,2,NaN,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8301816,2021-04-30 23:30:00_501,湾岸,1294,501,2021/04/30,23:30:00,2,NaN,79,5.0,NaN,NaN,1,2,NaN,0.0,0
8301817,2021-04-30 23:35:00_501,湾岸,1294,501,2021/04/30,23:35:00,2,NaN,69,9.0,NaN,NaN,1,2,NaN,0.0,0
8301818,2021-04-30 23:40:00_501,湾岸,1294,501,2021/04/30,23:40:00,2,NaN,36,6.0,NaN,NaN,1,2,NaN,0.0,0
8301819,2021-04-30 23:45:00_501,湾岸,1294,501,2021/04/30,23:45:00,2,NaN,47,5.0,NaN,NaN,1,2,NaN,0.0,0
8301820,2021-04-30 23:50:00_501,湾岸,1294,501,2021/04/30,23:50:00,2,NaN,89,4.0,NaN,NaN,1,2,NaN,0.0,0

In [3]:
df.iloc[:10,:]

,idx,地区名,JDP番号,区間番号,日付,時間,区間長,エラー,速度,交通量,渋滞,事故,休日,時間帯,kcode,降水量,滑り止め
0,2021-10-01 00:00:00_1,大阪,1,1,2021/10/01,0:00:00,4,NaN,63,26.0,NaN,NaN,1,2,NaN,0.0,0
1,2021-10-01 00:05:00_1,大阪,1,1,2021/10/01,0:05:00,4,NaN,55,46.0,NaN,NaN,1,2,NaN,0.0,0
2,2021-10-01 00:10:00_1,大阪,1,1,2021/10/01,0:10:00,4,NaN,61,47.0,NaN,NaN,1,2,NaN,0.0,0
3,2021-10-01 00:15:00_1,大阪,1,1,2021/10/01,0:15:00,4,NaN,68,41.0,NaN,NaN,1,2,NaN,0.0,0
4,2021-10-01 00:20:00_1,大阪,1,1,2021/10/01,0:20:00,4,NaN,59,42.0,NaN,NaN,1,2,NaN,0.0,0
5,2021-10-01 00:25:00_1,大阪,1,1,2021/10/01,0:25:00,4,NaN,59,38.0,NaN,NaN,1,2,NaN,0.0,0
6,2021-10-01 00:30:00_1,大阪,1,1,2021/10/01,0:30:00,4,NaN,55,24.0,NaN,NaN,1,2,NaN,0.0,0
7,2021-10-01 00:35:00_1,大阪,1,1,2021/10/01,0:35:00,4,NaN,55,24.0,NaN,NaN,1,2,NaN,0.0,0
8,2021-10-01 00:40:00_1,大阪,1,1,2021/10/01,0:40:00,4,NaN,66,29.0,NaN,NaN,1,2,NaN,0.0,0
9,2021-10-01 00:45:00_1,大阪,1,1,2021/10/01,0:45:00,4,NaN,64,26.0,NaN,NaN,1,2,NaN,0.0,0

In [4]:
df["jdp"]=df.JDP番号

In [5]:
jdp = pd.read_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/jdp100/jdp100e2.csv", encoding="shift_jis")

In [6]:
jdp2 = jdp.loc[:,["jdp","keito","hei","sag","fare"]]

In [7]:
dm = pd.merge(df,jdp2, on="jdp", how="left")

In [8]:
dm2 = dm[pd.isna(dm.エラー)]
dm2 = dm2[dm2.速度<200]
dm2 = dm2[~pd.isna(dm.keito)]

C:\Users\tssl-34\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

In [9]:
print(dm.shape[0])
print(dm2.shape[0])

9740449
9199693

In [10]:
dm2["走行台キロ"]=dm2.区間長*dm2.交通量/10

In [11]:
dmf=dm2[(dm2.渋滞!=1)&(dm2.渋滞!=2)]

In [12]:
dmc=dm2[(dm2.渋滞==1)|(dm2.渋滞==2)]

In [13]:
dmc.shape[0]

713645

In [14]:
dmf_t1=dmf[dmf.時間帯==1]
dmf_t2=dmf[dmf.時間帯==2]

In [15]:
dt1h1=dmf_t1[dmf_t1.休日==1]
dt1h2=dmf_t1[dmf_t1.休日!=1]
dt2h1=dmf_t2[dmf_t2.休日==1]
dt2h2=dmf_t2[dmf_t2.休日!=1]

In [16]:
print(dt1h1.shape[0])
print(dt1h2.shape[0])
print(dt2h1.shape[0])
print(dt2h2.shape[0])
dt1h1.shape[0]+dt1h2.shape[0]+dt2h1.shape[0]+dt2h2.shape[0]+dmc.shape[0]

2892147
1543265
2719468
1331168

9199693

In [17]:
dt1h1_1=dt1h1.iloc[:1000000,:]
dt1h1_2=dt1h1.iloc[1000000:2000000,:]
dt1h1_3=dt1h1.iloc[2000000:3000000,:]
#dt1h1_4=dt1h1.iloc[3000000:,:]

dt1h2_1=dt1h2.iloc[:1000000,:]
dt1h2_2=dt1h2.iloc[1000000:2000000,:]
#dt1h2_3=dt1h2.iloc[2000000:,:]

dt2h1_1=dt2h1.iloc[:1000000,:]
dt2h1_2=dt2h1.iloc[1000000:2000000,:]
dt2h1_3=dt2h1.iloc[2000000:,:]

dt2h2_1=dt2h2.iloc[:1000000,:]
dt2h2_2=dt2h2.iloc[1000000:2000000,:]
#dt2h2_3=dt2h2.iloc[2000000:,:]

In [18]:
dmc.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/resultrisk/dmc10.csv", index = False, encoding="shift_jis")

dt1h1_1.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/resultrisk/dt1h1_1_10.csv", index = False, encoding="shift_jis")
dt1h1_2.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/resultrisk/dt1h1_2_10.csv", index = False, encoding="shift_jis")
dt1h1_3.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/resultrisk/dt1h1_3_10.csv", index = False, encoding="shift_jis")
#dt1h1_4.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/resultrisk/dt1h1_4_09.csv", index = False, encoding="shift_jis")

dt1h2_1.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/resultrisk/dt1h2_1_10.csv", index = False, encoding="shift_jis")
dt1h2_2.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/resultrisk/dt1h2_2_10.csv", index = False, encoding="shift_jis")
#dt1h2_3.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/resultrisk/dt1h2_3_06.csv", index = False, encoding="shift_jis")

dt2h1_1.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/resultrisk/dt2h1_1_10.csv", index = False, encoding="shift_jis")
dt2h1_2.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/resultrisk/dt2h1_2_10.csv", index = False, encoding="shift_jis")
dt2h1_3.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/resultrisk/dt2h1_3_10.csv", index = False, encoding="shift_jis")

dt2h2_1.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/resultrisk/dt2h2_1_10.csv", index = False, encoding="shift_jis")
dt2h2_2.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/resultrisk/dt2h2_2_10.csv", index = False, encoding="shift_jis")

In [ ]:
#dm.columns=['記録年', '記録月', '記録日', '記録曜日', '記録時刻', '文字情報板番号', '文字情報板名称', '制御区分',
       '情報区分', '影響係数', '障害係数', '評価値', '提供フラグ', '事象内通番', '原因', '程度', '渋滞長',
       '障害登録番号', '先頭系統名称', '先頭KP', '後尾系統名称', '後尾KP', '入口／出口名称', '特記事項', 'indx',
       'line', 'keito', 'kp', 'name', 'jdp', 'jdpup1', 'jdpup2', 'jdpup3',
       'vsidx', 'risk', 'temp', 'r2p', 'r2n', 'r3p', 'r3n', 'n1p', 'gen', 'tidx', 'tidx5m',
       'idx', 'upidx', '地区名', 'JDP番号', '区間番号', '日付', '時間', '区間長', 'エラー', '速度',
       '交通量', '渋滞', '事故', '休日', '時間帯', 'kcode', '降水量', '滑り止め', '区間長up', '速度up',
       '交通量up', '渋滞up', '事故up']

In [ ]:
#d=dm.loc[:,["記録日","記録時刻","tidx","tidx5m","indx","keito","r2p","r2n","r3p","r3n","n1p","gen","区間長","速度","交通量","渋滞","事故","休日","時間帯","降水量","区間長up","速度up","交通量up","渋滞up","事故up"]]

In [ ]:
d["idx5m"]=d.tidx5m+"_"+d.indx.astype(str)

In [ ]:
cnt5m = pd.DataFrame(d.groupby("idx5m").count().loc[:,"記録日"])

In [ ]:
cnt5m["cnt5m"]=cnt5m.記録日

In [ ]:
del cnt5m["記録日"]

In [ ]:
cnt5m = cnt5m.reset_index()

In [ ]:
dm = pd.merge(d,cnt5m, on="idx5m", how="left")

In [ ]:
dm["事故5m"]=dm.事故/dm.cnt5m
dm["速度5m"]=dm.速度/dm.cnt5m
dm["交通量5m"]=dm.交通量/dm.cnt5m
dm["事故u5m"]=dm.事故up/dm.cnt5m
dm["速度u5m"]=dm.速度up/dm.cnt5m
dm["交通量u5m"]=dm.交通量up/dm.cnt5m

In [ ]:
dm.記録時刻.str[:2]

In [ ]:
dm["keito_hour"]=dm.keito.astype(str)+"_"+dm.記録時刻.str[:2]

In [ ]:
#keitoh = dm.groupby("keito_hour").agg({"r2p":np.sum,"r2n":np.sum,"r3p":np.sum,"r3n":np.sum,
#         "事故5m":np.sum,"速度5m":np.mean,"交通量5m":np.mean,})
keitoh = dm.groupby("keito_hour").agg({"r2p":np.sum,"r2n":np.sum,"r3p":np.sum,"r3n":np.sum,
         "事故5m":np.sum})

In [ ]:
cntkh = dm.groupby("keito_hour").count().loc[:,"記録日"]

In [ ]:
keitoh["cntkh"]=cntkh

In [ ]:
keitoh["idx"]=keitoh.index

In [ ]:
keitoh.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/keihour04.csv", index = False, encoding="shift_jis")

In [ ]:
keito = dm.groupby("keito").agg({"r2p":np.sum,"r2n":np.sum,"r3p":np.sum,"r3n":np.sum,
        "事故5m":np.sum,"速度5m":np.mean,"交通量5m":np.mean,})
#keito = dm.groupby("keito").agg({"r2p":np.sum,"r2n":np.sum,"r3p":np.sum,"r3n":np.sum})

In [ ]:
cntk = dm.groupby("keito").count().loc[:,"記録日"]

In [ ]:
keito["cntk"]=cntk

In [ ]:
keito["rsum"]=keito.r2p+keito.r2n+keito.r3p+keito.r3n

In [ ]:
keito

In [ ]:
dc.shape[0]

In [ ]:
dc["indx"]=dc.文字情報板番号

In [ ]:
vs = pd.read_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/CHSVSB_情報板3.csv", encoding="shift_jis")

In [ ]:
vs

In [ ]:
dc2 = pd.merge(dc,vs, on="indx", how="left")

In [ ]:
dc3 = dc2[~pd.isna(dc2.line)]

In [ ]:
dc3

In [ ]:
#dc3["drp"]=dc3.記録日.astype(str)+"_"+dc3.記録時刻+"_"+dc3.文字情報板番号.astype(str)+"_"+dc3.事象内通番.astype(str)+"_"+dc3.原因+"_"+dc3.程度

In [ ]:
dc3["vsidx"]=dc3.記録日.astype(str)+"_"+dc3.記録時刻+"_"+dc3.文字情報板番号.astype(str)

In [ ]:
#dc3d = dc3[~dc3.duplicated(subset="drop")]
dc3d = dc3[~dc3.duplicated()]

In [ ]:
t = dc3d[dc3d.vsidx=="14_00:23_158"].iloc[:,5:]

In [ ]:
dc3d[dc3d.vsidx=="14_00:23_158"].iloc[:,5:]

In [ ]:
print(dc3.shape[0])
print(dc3d.shape[0])

In [ ]:
dc3d.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/dc3d04.csv", index = False, encoding="shift_jis")

In [ ]:
dc3r = dc3d[dc3d.原因=="リスク"]

In [ ]:
dc3r["risk"]=1

In [ ]:
dc3idx = dc3r.loc[:,["vsidx","risk"]]

In [ ]:
dc3idx

In [ ]:
dc4 = pd.merge(dc3d,dc3idx, on="vsidx", how="left")

In [ ]:
dc4.shape[0]

In [ ]:
dc3.shape[0]

In [ ]:
dc4[(dc4.risk==1)&(dc4.原因=="リスク")&(dc4.提供フラグ!=1)].shape[0]
#dc4[(dc4.risk==1)&(dc4.原因!="リスク")&(dc4.提供フラグ==1)].shape[0]

In [ ]:
#dc4[(dc4.risk==1)&(dc4.原因=="リスク")&(dc4.提供フラグ!=1)].shape[0]
dc4[(dc4.risk==1)&(dc4.原因!="リスク")&(dc4.提供フラグ==1)].shape[0]

In [ ]:
dc4r = dc4[dc4.risk==1]

In [ ]:
dc4r.shape[0]

In [ ]:
dc4r.iloc[:5].loc[:,["記録日","記録時刻","原因","vsidx","risk"]]

In [ ]:
dc4r.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/dc4r04.csv", index = False, encoding="shift_jis")

In [ ]:
dc4r[~dc4r.duplicated(subset="vsidx")].shape[0]

In [ ]:
def ts(d):
    return d.原因.values
def ts2(d):
    return d.程度.values
def ts3(d):
    return d.提供フラグ.values

In [ ]:
temp=dc4r.groupby("vsidx").apply(ts)
temp2=dc4r.groupby("vsidx").apply(ts2)
temp3=dc4r.groupby("vsidx").apply(ts3)

In [ ]:
dc5 = pd.DataFrame(temp)

In [ ]:
dc5["vsidx"]=dc5.index

In [ ]:
dc5["gen"]=dc5[0]

In [ ]:
dc5["tei"]=temp2

In [ ]:
dc5["flg"]=temp3

In [ ]:
del dc5[0]

In [ ]:
dc5.shape[0]

In [ ]:
vsidx=dc5.vsidx.values
gen=dc5.gen.values
tei=dc5.tei.values
flg=dc5.flg.values

In [ ]:
cnt=[]
cntstr=[]
for i in range(gen.shape[0]):
#for i in range(3):
    ri2p=0
    ri2n=0
    ri3p=0
    ri3n=0
    nori=0
    nostr=[]
    for j in range(gen[i].shape[0]):
        if gen[i][j]=="リスク":
            if tei[i][j]=="リスク２":
                if flg[i][j]==1:
                    ri2p=ri2p+1
                else:
                    ri2n=ri2n+1
            else:
                if flg[i][j]==1:
                    ri3p=ri3p+1
                else:
                    ri3n=ri3n+1
        else:
            if flg[i][j]==1:
                nori=nori+1
                nostr.append(gen[i][j])
    cnt.append([vsidx[i],ri2p,ri2n,ri3p,ri3n,nori])
    cntstr.append(nostr)

In [ ]:
cntd = pd.DataFrame(cnt)

In [ ]:
cntd["gen"]=cntstr

In [ ]:
tt = dc4r[dc4r.vsidx=="14_00:23_158"].iloc[:,5:]

In [ ]:
tt.shape[0]

In [ ]:
tt[~tt.duplicated()].shape[0]

In [ ]:
cntd[cntd[5]>1]

In [ ]:
cntd["vsidx"]=cntd[0]

In [ ]:
cntd.shape[0]

In [ ]:
df = pd.merge(dc4r,cntd, on="vsidx", how="left")

In [ ]:
df.shape[0]

In [ ]:
df2=df[~df.duplicated(subset="vsidx")]

In [ ]:
df2.shape[0]

In [ ]:
df2

In [ ]:
df2.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/df2_04.csv", index = False, encoding="shift_jis")

In [ ]:
df2 = pd.read_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/df2_04.csv", encoding="shift_jis")

In [ ]:
df2["tidx"]=df2.記録年.astype(str)+"-"+df2.記録月.astype(str)+"-"+df2.記録日.astype(str)+" "+df2.記録時刻+":00"

In [ ]:
df2["tidx5m"]=pd.to_datetime(df2.tidx).dt.round("5T")

In [ ]:
df2[pd.isna(df2.jdp)]

In [ ]:
df2["idx"]=df2.tidx5m.astype(str)+"_"+df2.jdp.astype(int).astype(str)

In [ ]:
df2["upidx"]=df2.tidx5m.astype(str)+"_"+df2.jdpup1.astype(int).astype(str)

In [ ]:
dff = pd.read_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/result/dff4.csv", encoding="shift_jis")

In [ ]:
dff2=dff[pd.isna(dff.エラー)]

In [ ]:
dff3=dff2[dff2.速度<200]

In [ ]:
dffup=dff3.loc[:,["idx","区間長","速度","交通量","渋滞","事故"]]

In [ ]:
dffup.columns=["upidx","区間長up","速度up","交通量up","渋滞up","事故up"]

In [ ]:
dffup

In [ ]:
dm = pd.merge(df2,dff3, on="idx", how="left")

In [ ]:
dm.iloc[:5,35:]

In [ ]:
dm2 = pd.merge(dm,dffup, on="upidx", how="left")

In [ ]:
dm2

In [ ]:
dm2.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/dm2_04.csv", index = False, encoding="shift_jis")

In [ ]:
df[df.vsidx=="4_00:03_11"].loc[:,"原因"]

In [ ]:
df2 = df[~df.duplicated(subset="vsidx")]

In [ ]:
df2.iloc[1,:]

In [ ]:
dc4r

In [ ]:
temp2 = dc4r[["vsidx","indx"]].groupby("vsidx").count()

In [ ]:
temp2[temp2.indx>5]

In [ ]:
temp = dc4r[(dc4r.vsidx=="10_12:52_368")|(dc4r.vsidx=="9_23:37_545")]

In [ ]:
def ts(d):
    return d.原因.values
def ts2(d):
    return d.提供フラグ.values

In [ ]:
temp2 = temp.groupby("vsidx").apply(ts)
temp3 = temp.groupby("vsidx").apply(ts2)

In [ ]:
print(temp2)
print(temp3)

In [ ]:
tempr = dc4[(dc4.risk==1)&(dc4.原因=="リスク")]

In [ ]:
tempnr = dc4[(dc4.risk==1)&(dc4.原因!="リスク")]

In [ ]:
temp.shape[0]==tempr.shape[0]+tempnr.shape[0]

In [ ]:
print(tempr.shape[0])
print(tempnr.shape[0])
print(tempr[tempr.提供フラグ==1].shape[0])
print(tempr[tempr.提供フラグ!=1].shape[0])
print(tempnr[tempnr.提供フラグ==1].shape[0])
print(tempnr[tempnr.提供フラグ!=1].shape[0])

In [ ]:
dc3a = dc3.loc[:,["記録日","記録時刻","文字情報板番号","提供フラグ","原因","程度","特記事項"]]

In [ ]:
dc3b = dc3a[((dc3a.原因=="リスク")&(dc3a.提供フラグ!=1))|(dc3a.提供フラグ==1)]

In [ ]:
dc3b

In [ ]:
dc3b[dc3b.提供フラグ!=1]

In [ ]:
dc3amoji2 = dc3a[dc3a.文字情報板番号==17]

In [ ]:
dc2=dc[dc.原因=="リスク"]

In [ ]:
dc2

In [ ]:
dc2.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/moji4.csv", index = False, encoding="shift_jis")

In [ ]:
dc3=dc2[dc2.提供フラグ==1]

In [ ]:
dc3

In [ ]:
dc3.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/moji4hyoji.csv", index = False, encoding="shift_jis")

In [ ]:
dc["dtt"]=dc["dt"]+" "+dc["tim"]

In [ ]:
dc["dtt2"] = pd.to_datetime(dc.dtt)

In [ ]:
dtt = pd.DataFrame(dc[dc["num"]==1].dtt2)

In [ ]:
#dtt.dtt=dtt.dtt.astype(str)

In [ ]:
dtt

In [ ]:
occerr = dc[dc.occ>200].drop_duplicates(subset="num")

In [ ]:
occerr

In [ ]:
occerr.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/occerr4.csv", index = False)

In [ ]:
kens = pd.read_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/kenchiki_s2.csv", header=None, encoding="shift_jis")

In [ ]:
kens.columns=["num"]

In [ ]:
kens

In [ ]:
sec = pd.read_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/section_add.csv", encoding="shift_jis")
#jdp = pd.read_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/JDP2.csv", encoding="shift_jis")

In [ ]:
#jdpd = jdp.loc[:,["JDP番号","JDP担当範囲","渋滞検知器番号1","渋滞検知器番号2","渋滞検知器番号3","渋滞検知器番号4","区間番号"]]

In [ ]:
noken = sec[pd.isna(sec.検知器番号1)].区間番号

In [ ]:
noken.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/noken.csv", index = False)

In [ ]:
dc

In [ ]:
sec

In [ ]:
sec_n = sec.区間番号
sec_1 = sec.検知器番号1
sec_2 = sec.検知器番号2
sec_3 = sec.検知器番号3
sec_4 = sec.検知器番号4

df = []
dtt["sec"] = 0

for idx in range(sec.shape[0]):
#for idx in range(5):
    secn = sec_n.values[idx]
    dtt["sec"] = secn
    
    tempc=[]
    temp1 = dc[dc["num"]==sec_1.values[idx]]
    tempc = pd.merge(dtt,temp1, on="dtt2")
    
    print(temp1)
    print(tempc)
    
    if pd.notna(sec_2.values[idx]):
        temp2 = dc[dc["num"]==sec_2.values[idx]]
        tempc = pd.merge(tempc,temp2, on="dtt2")
    
    if pd.notna(sec_3.values[idx]):
        temp3 = dc[dc["num"]==sec_3.values[idx]]
        tempc = pd.merge(tempc,temp3, on="dtt2")
    
    if pd.notna(sec_4.values[idx]):
        temp4 = dc[dc["num"]==sec_4.values[idx]]
        tempc = pd.merge(tempc,temp4, on="dtt2")
    
    tempv = tempc.values
    tempd = pd.DataFrame(tempv)
    print(tempd)
    df.append(tempd)

In [ ]:
#dc[dc["num"]==sec_1.values[0]]
#dc[dc["num"]==2508]

In [ ]:
dfc = pd.concat(df, axis = 0, ignore_index=True)

In [ ]:
dfc[dfc[1]==333]

In [ ]:
dfc.iloc[0,:]

In [ ]:
trf = dfc[6].values.tolist()
trf1 = dfc[6].values.tolist()
trf2 = dfc[16].values.tolist()
trf3 = dfc[26].values.tolist()
trf4 = dfc[36].values.tolist()

In [ ]:
len(trf1)

In [ ]:
for i in range(len(trf1)):
#for i in range(11):
    if not pd.isna(trf2[i]):
        #print(trf2[i])
        if not pd.isna(trf3[i]):
            #rint(trf3[i])
            if not pd.isna(trf4[i]):
                trf[i]=trf1[i]+trf2[i]+trf3[i]+trf4[i]
            else:
                trf[i]=trf1[i]+trf2[i]+trf3[i]
        else:
            trf[i]=trf1[i]+trf2[i]
    else:
        trf[i]=trf1[i]

In [ ]:
dfc.insert(1,"trf",trf)

In [ ]:
dfc[dfc[1]==333]

In [ ]:
dfc

In [ ]:
temp=dfc[dfc[8]>65500][1]

In [ ]:
temp

In [ ]:
temp[temp!=518]

In [ ]:
dfcidx = dfc.iloc[:,:3]

In [ ]:
dfcidx[dfcidx[1]==333]

In [ ]:
dfcidx.insert(0,"idx",dfcidx[0].astype(str)+"_"+dfcidx[1].astype(str))

In [ ]:
dfcidx

In [ ]:
#ttt3 = dfcidx[dfcidx[0]=="2021-04-30 11:10:00"]

In [ ]:
#ttt3[ttt3[1]==27]

In [ ]:
dfcidx[dfcidx[1]==333]

In [ ]:
dfcidx[pd.isna(dfcidx.trf)]

In [ ]:
jdp = pd.read_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/JDP3.csv", encoding="shift_jis")

In [ ]:
jdp

In [ ]:
jdpd = jdp.loc[:,["JDP番号","地区名","JDP担当範囲","渋滞検知器番号1","渋滞検知器番号2","渋滞検知器番号3","渋滞検知器番号4","区間番号修正"]]

In [ ]:
dtt2 = pd.DataFrame(dc[dc["num"]==1].dtt2)

In [ ]:
jdpd_j = jdpd.JDP番号
jdpd_l = jdpd.地区名
jdpd_s = jdpd.区間番号修正
jdpd_km = jdpd.JDP担当範囲
jdpd_1 = jdpd.渋滞検知器番号1
jdpd_2 = jdpd.渋滞検知器番号2
jdpd_3 = jdpd.渋滞検知器番号3
jdpd_4 = jdpd.渋滞検知器番号4

df2 = []
dtt2["loca"] = 0
dtt2["jdp"] = 0
dtt2["secn"] = 0

for idx in range(jdpd.shape[0]):
#for idx in range(5):
    jdn = jdpd_j.values[idx]
    loca = jdpd_l.values[idx]
    secn = jdpd_s.values[idx]
    kmn = jdpd_km.values[idx]
    #jdn = jdp.JDP番号[idx]
    #secn = jdp.区間番号[idx]
    
    dtt2["jdp"] = jdn
    dtt2["loca"] = loca
    dtt2["secn"] = secn
    dtt2["kmn"] = kmn
    
    tempc=[]
    temp1 = dc[dc["num"]==jdpd_1.values[idx]]
    tempc = pd.merge(dtt2,temp1, on="dtt2")
    
    if pd.notna(jdpd_2.values[idx]):
        temp2 = dc[dc["num"]==jdpd_2.values[idx]]
        tempc = pd.merge(tempc,temp2, on="dtt2")
    
    if pd.notna(jdpd_3.values[idx]):
        temp3 = dc[dc["num"]==jdpd_3.values[idx]]
        tempc = pd.merge(tempc,temp3, on="dtt2")
    
    if pd.notna(jdpd_4.values[idx]):
        temp4 = dc[dc["num"]==jdpd_4.values[idx]]
        tempc = pd.merge(tempc,temp4, on="dtt2")
    
    tempv = tempc.values
    tempd = pd.DataFrame(tempv)
    df2.append(tempd)

In [ ]:
dfc2 = pd.concat(df2, axis = 0, ignore_index=True)

In [ ]:
dfc2[dfc2[2]==333]

In [ ]:
dfc2

In [ ]:
dfc2.insert(0,"idx",dfc2[0].astype(str)+"_"+dfc2[2].astype(str))

In [ ]:
dfc2

In [ ]:
dfinal = pd.merge(dfc2,dfcidx, on="idx", how="left")

In [ ]:
dfinal

In [ ]:
#ttt = dfinal[dfinal["0_x"]=="2021-04-30 11:10:00"]
#ttt2 = dfc2[dfc2[0]=="2021-04-30 11:10:00"]

In [ ]:
#ttt[ttt["1_x"]==35]
#ttt2[ttt2[1]==35]

In [ ]:
test=dfinal[pd.isna(dfinal["1_y"])].drop_duplicates(subset="1_x")

In [ ]:
test

In [ ]:
cong = pd.read_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/cong04.csv", encoding="shift_jis")

In [ ]:
cong

In [ ]:
congd = cong.loc[:,["idx","cong"]]

In [ ]:
congd

In [ ]:
dfinal2 = pd.merge(dfinal,congd, on="idx", how="left")

In [ ]:
dfinal2

In [ ]:
dfinal2.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/dfinal4.csv", index = False)

In [ ]:
dfinal2 = pd.read_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/dfinal4.csv", encoding="shift_jis")

In [ ]:
acc = pd.read_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/accident.csv", encoding="shift_jis")

In [ ]:
accd = acc.loc[:,["idx","天候","事故の形態","交通状態","発生日_曜日","曜日種別E（営業）"]]

In [ ]:
accd["acci"]=1

In [ ]:
accd

In [ ]:
dfinal3 = pd.merge(dfinal2,accd, on="idx", how="left")

In [ ]:
dfinal3

In [ ]:
dfinal3.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/dfinal4_2.csv", index = False)

In [ ]:
#dfinal3 = pd.read_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/dfinal4_2.csv", encoding="shift_jis")
dfinal3 = pd.read_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/dfinal4_2.csv")

In [ ]:
dfinal3["tm"]=pd.to_datetime(dfinal3["0_x"])

In [ ]:
dfinal3["week"]=dfinal3.tm.dt.weekday

In [ ]:
dfinal3["wcode"]=1

In [ ]:
#dc2.loc[(dfinal3.week>4)|(dc2.JDP状態=="A")|(dc2.JDP状態=="D"),"cong"]=2
dfinal3.loc[(dfinal3.week==5),"wcode"]=2
dfinal3.loc[(dfinal3.week==6),"wcode"]=3

In [ ]:
dfinal3["hour"]=dfinal3.tm.dt.hour

In [ ]:
dfinal3["hcode"]=2

In [ ]:
dfinal3.loc[(dfinal3.hour>6)&(dfinal3.hour<20),"hcode"]=1

In [ ]:
dfinal3["dy"]=pd.to_datetime(dfinal3[5])

In [ ]:
dfinal3.dy

In [ ]:
kyu = pd.read_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/kyujitsu_2021.csv", header=None)

In [ ]:
kyu["dy"]=pd.to_datetime(kyu[0])

In [ ]:
kyu["kcode"]=1

In [ ]:
kyu.dy

In [ ]:
dfinal4 = pd.merge(dfinal3,kyu, on="dy", how="left")

In [ ]:
dfinal4

In [ ]:
dfinal4[~pd.isna(dfinal4.kcode)].kcode

In [ ]:
dfinal4.loc[(dfinal4.kcode==1),"wcode"]=3

In [ ]:
dfinal4.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/dfinal4_3.csv", index = False)

In [ ]:
dfinal4 = pd.read_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/dfinal4_3.csv")

In [ ]:
dfinal4

In [ ]:
dfinal4.columns

In [ ]:
dff = dfinal4.loc[:,["idx","1_x","2","4","5","3","7","11","trf","cong","acci","wcode","hcode","kcode"]]

In [ ]:
dff

In [ ]:
dff.to_csv("D:/ahn_pc/workfile/2021/阪神事故リスク/dff4.csv", index = False)